.qrcode-container {
    max-width: 800px;
    margin: 0 auto;
    font-family: "poppins", sans-serif;
    text-align: center;
  }
  .qrcode-container h2 {
    font-size: 40px;
  }
  .qrcode-container .content {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }
  .qrcode-container .control {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
  }
  .qrcode-container .qrcode-massage {
    flex: 1;
    font-family: "poppins", sans-serif;
    font-size: 18px;
    padding: 10px;
  }
  .qrcode-container .generate-btn {
    border: none;
    padding: 12px 32px;
    font-size: 20px;
    background: #001219;
    color: #fff;
    cursor: pointer;
  }